@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

/* header container */
header {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* heading and logo */

h1,
h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

#logo {
  font-size: 280%;
  margin-left: 30px;
}

/* navigation links */

nav {
  min-height: 100%;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#menu li {
  list-style-type: none;
  padding-right: 2rem;
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* hero image */
#hero-outer {
  height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#hero-image {
  animation: hero-zoom 1000ms forwards;
  background: url('../images/hero-image.webp') center center no-repeat;
  height: 600px;
  width: 100%;
}

@keyframes hero-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* cover text */
#cover-text,
#cover-text h2 {
  color: #fff;
}

#cover-text {
  background-color: rgba(241, 109, 108, .7);
  bottom: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 130%;
  height: 200px;
  letter-spacing: 4px;
  padding: 40px 0 0 10px;
  position: absolute;
  right: 150px;
  text-transform: uppercase;
  width: 300px;
}